.user-settings {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.user-settings.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.user-settings h1 {
  text-align: center;
  margin-bottom: 20px;
  color: inherit;
}

.user-settings fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  transition: background-color 0.3s, border-color 0.3s;
}

.user-settings.dark-mode fieldset {
  background-color: #2a2a2a;
  border-color: #444;
}

.user-settings legend {
  font-weight: bold;
  color: inherit;
}

.user-settings label {
  display: block;
  margin-bottom: 10px;
  color: inherit;
}

.user-settings input[type="text"],
.user-settings input[type="email"],
.user-settings select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.user-settings.dark-mode input[type="text"],
.user-settings.dark-mode input[type="email"],
.user-settings.dark-mode select {
  background-color: #333;
  border-color: #555;
  color: #fff;
}

.user-settings input[type="checkbox"] {
  margin-right: 10px;
}

.user-settings button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  border: 2px solid #007bff1a;
  border-radius: 14px;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.user-settings button:hover {
  background-color: #3f51b5;
}

.logout-button {
  background-color: #ff4444;
}

.logout-button:hover {
  background-color: #cc0000;
}


body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.user-settings.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

button {
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: rgba(91, 188, 234, 0.14);
}

button.dark-mode {
  background-color: #555555;
  color: white;
}