.language-selector {
    position: relative;
    display: inline-block;
}

.language-button {
    background: transparent;
    color: #000; /* Couleur texte noir */
    border: none; /* Suppression de la bordure */
    border-radius: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease, background 0.3s ease; /* Transition fluide */
    outline: none; /* Supprime la bordure par défaut */
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

.language-button:focus {
    background: #fff; /* Maintien blanc sur focus */
    outline: none; /* Supprime l'effet bleu foncé par défaut */
    box-shadow: none;
}

.language-button:hover {
    background: #f5f5f5; /* Gris clair au survol */
}

.language-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border-radius: 6px;
    width: 150px;
    margin-top: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    display: none; /* Masqué par défaut */
    z-index: 1000;
    border-top: 1px 1px 1px 1px solid #e0e0e0;
}

.language-selector:hover .language-menu {
    display: block; /* Affiché au survol */
}

.language-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #333; /* Couleur texte normal */
    transition: background 0.3s ease, color 0.3s ease; /* Transition propre */
}

.language-item:hover {
    background: #f5f5f5; /* Gris clair au survol */
    color: #333; /* Couleur texte inchangée */
}

.language-item.active {
    font-weight: bold;
    background: #007bff; /* Bleu actif */
    color: #fff; /* Texte blanc pour l'élément actif */
}

.language-item .flag {
    font-size: 16px;
    display: flex;
    align-items: center;
}

